#root {
  margin: 0 auto;
  padding: 2rem;
}

body{
  margin: 0;
  padding-inline: 0;
}

main{
  width: 100%;
}

.container-filtros{
  padding-bottom: 30px;
}

.filtros div{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px;
}

.filtros div input, select{
  width: 100px;
  padding: 5px;
  text-align: center;
}